.content-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-btn {
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main-btn:hover {
  background: #E47209;
}

.logo {
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  display: flex;
  position: relative;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}
.logo .logo-bamboo {
  position: absolute;
  right: 58px;
  bottom: 8px;
}
.logo .logo-bamboo-color {
  fill: white;
}
.logo:hover {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  border-color: #F9804B;
}
.logo:hover .logo-bamboo-color {
  fill: #F9804B;
}

.nav-list {
  display: flex;
  min-width: 40%;
  justify-content: space-between;
}
.nav-list .current-page {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  cursor: default;
}
.nav-list a {
  font-weight: normal;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: #FFFFFF;
}
.nav-list a:not(.current-page):hover {
  color: #F9804B;
}

.burger {
  display: none;
  position: relative;
  flex: 0 0 18px;
  height: 10px;
  z-index: 2;
  background-color: transparent;
}
.burger span {
  position: absolute;
  display: block;
  width: 18px;
  height: 2px;
  background-color: white;
  transition: transform 0.3s;
}
.burger span:first-child {
  top: 4px;
}
.burger span:last-child {
  bottom: 0;
}
.burger.active span {
  background-color: #333B41;
  top: 50%;
}
.burger.active span:first-child {
  transform: rotate(45deg);
}
.burger.active span:last-child {
  transform: rotate(-45deg);
}
.burger.active span:nth-of-type(2) {
  display: none;
}

.header-wrapper {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  min-height: 80px;
  padding: 14px 0;
  background-color: #000000;
  z-index: 2;
}

.main-title {
  display: none;
}

.large-screen-header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.large-screen-header .logo {
  margin-right: 63px;
}
.large-screen-header nav {
  min-width: 40%;
}
.large-screen-header .copyright {
  margin-left: auto;
}
.large-screen-header .copyright a {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: #FFFFFF;
}
.large-screen-header .copyright a:hover {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.small-screen-header {
  display: none;
}

.hero-wrapper {
  background-image: url("../../assets/images/main/hero/Giant Panda.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  padding-top: 166px;
  padding-bottom: 100px;
}
.hero .text-wrapper {
  box-sizing: border-box;
  max-width: 500px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.hero .text-wrapper p {
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  font-size: 106px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 75%;
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
}
.hero .text-wrapper p span {
  color: #FFEE2E;
}
.hero .text-wrapper p::after {
  content: "";
  position: absolute;
  width: 93%;
  padding-top: 93%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  left: -14.8%;
  top: -18.8%;
  z-index: -1;
}

.about-outer-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.about {
  padding-top: 140px;
  padding-bottom: 180px;
}
.about .content {
  display: flex;
  justify-content: space-between;
}

.image-container-bamboo-hat {
  overflow: hidden;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
}

.about-text {
  margin-left: 30px;
  max-width: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.about-text h2 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  color: #000000;
}
.about-text h2 + p {
  line-height: 130%;
}
.about-text .subtitle {
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #000000;
}
.about-text p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #000000;
}
.about-text::after {
  content: url("../../assets/images/main/about/flower_foto1.png");
  position: absolute;
  top: -128px;
  right: -222px;
}

.decoration-wrapper {
  position: relative;
  overflow: hidden;
}

.gallery-content-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  max-width: 1322px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.gallery-content-wrapper::before {
  content: url("../../assets/images/main/gallery/decorative/palm_foto.png");
  position: absolute;
  left: -141px;
  bottom: -4px;
}
.gallery-content-wrapper::after {
  content: url("../../assets/images/main/gallery/decorative/strelitzia 1.png");
  position: absolute;
  right: -139px;
  bottom: -4px;
}

.gallery {
  display: flex;
  gap: 20px;
  align-items: center;
}
.gallery .gallery-btn {
  flex-shrink: 0;
  width: 62px;
  height: 62px;
  z-index: 1;
  border-color: transparent;
  background-clip: content-box;
  border-radius: 50%;
  background-image: url("../../assets/images/main/gallery/decorative/arrow_left.svg"), linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-repeat: no-repeat;
  background-position: center;
}
.gallery .gallery-btn:hover {
  background-image: url("../../assets/images/main/gallery/decorative/arrow_left.svg");
  background-color: #E47209;
}
.gallery .next {
  transform: rotate(180deg);
}

.cards-collection-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.animal-cards {
  width: 100%;
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 20px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 0;
  padding: 0;
  -webkit-animation: 1s ease-in-out;
          animation: 1s ease-in-out;
}
.animal-cards .card:nth-child(n+7) {
  display: none;
}
.animal-cards .card {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #FA6F32;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s;
}
.animal-cards .card img {
  width: 100%;
  transition: transform 0.3s;
}
.animal-cards .card:hover {
  background-color: rgba(13, 12, 13, 0.742);
}
.animal-cards .card:hover .card-text {
  color: white;
  transform: translateY(-100%);
}
.animal-cards .card:hover img {
  transform: scale(1.0273224044);
  z-index: -1;
}
.animal-cards .card .card-text {
  padding: 8px 33px 14px 16px;
  transition: all 0.3s;
}
.animal-cards .card .card-text p:first-of-type {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}
.animal-cards .card .card-text p + p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}
.animal-cards .card .diet-pic {
  box-sizing: border-box;
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 9%;
  height: 8.6%;
  background-repeat: no-repeat;
  background-size: contain, contain;
  z-index: -1;
}
.animal-cards .card .vegy {
  background-image: url("../../assets/images/main/gallery/decorative/diet-pics/banana.svg"), url("../../assets/images/main/gallery/decorative/diet-pics/bamboo.svg");
  background-position: bottom 2px left 0, bottom 0 left 3px;
}
.animal-cards .card .meat-eater {
  background-image: url("../../assets/images/main/gallery/decorative/diet-pics/fish.svg"), url("../../assets/images/main/gallery/decorative/diet-pics/steak_icon.svg");
  width: 11.2%;
  height: 10.3%;
  background-position: bottom 2px right -3px, bottom 0 left -2px;
}
.animal-cards.next-pane {
  left: calc(100% + 30px);
  height: 100%;
}
.animal-cards.prev-pane {
  left: calc(-100% - 30px);
  height: 100%;
}
.animal-cards.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}
.animal-cards.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}
.animal-cards.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}
.animal-cards.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}
@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: calc(-100% - 30px);
  }
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: calc(-100% - 30px);
  }
}
@-webkit-keyframes right {
  from {
    left: calc(100% + 30px);
  }
  to {
    left: 0;
  }
}
@keyframes right {
  from {
    left: calc(100% + 30px);
  }
  to {
    left: 0;
  }
}

.choose-favorite {
  align-self: center;
}

.pick-and-feed-wrapper {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 70px;
  padding-bottom: 100px;
}

.pick-and-feed-content-wrapper {
  padding-top: 41px;
  padding-bottom: 59px;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
}
.pick-and-feed-content-wrapper .pick-and-feed-content {
  width: 100%;
}

.pick-and-feed-content-wrapper > h2 {
  padding-bottom: 30px;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  color: #000000;
  color: #FE9013;
}

.pick-and-feed-text {
  padding-left: 8.6%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pick-and-feed-text > p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #000000;
  line-height: 130%;
  color: #333B41;
}
.pick-and-feed-text p.subtitle {
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #000000;
  margin-bottom: 10px;
}
.pick-and-feed-text .subtitle + p {
  font-weight: 500;
  margin-bottom: -20px;
}
.pick-and-feed-text .donate-ref {
  border-bottom: 1px solid #FE9013;
}

.workflow {
  margin-top: 100px;
}
.workflow h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Roboto, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
  color: #333B41;
  margin: 0 auto 40px;
}

.pay-to-feed-process {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 764px;
}
.pay-to-feed-process-figures {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pay-to-feed-process-figures li {
  flex: 0 1 168px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #FE9013;
}
.pay-to-feed-process-figures li :first-child {
  padding-top: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.pay-to-feed-process-figures li:first-of-type {
  order: -1;
}
.pay-to-feed-process-figures li:last-of-type {
  order: 1;
}
.pay-to-feed-process-figures li p {
  display: none;
}
.pay-to-feed-process-figures .stage1-img {
  width: 64%;
  background-image: url("../../assets/images/main/pay-to-feed/pay-card.svg");
}
.pay-to-feed-process-figures .stage2-img {
  width: 50%;
  background-image: url("../../assets/images/main/pay-to-feed/money-to-grow.svg");
}
.pay-to-feed-process-figures .stage3-img {
  width: 73%;
  background-image: url("../../assets/images/main/pay-to-feed/feed-pet.svg");
}
.pay-to-feed-process-figures::before, .pay-to-feed-process-figures::after {
  flex: 0 1 71px;
  content: "";
  width: 69px;
  height: 35px;
  background-image: url("../../assets/images/main/pay-to-feed/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pay-to-feed-process-legend {
  display: flex;
  justify-content: space-between;
}
.pay-to-feed-process-legend li {
  margin-top: 30px;
  flex: 0 1 168px;
}

.feed-a-friend {
  margin: 0 auto;
}

.feedback-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 140px;
  padding-bottom: 204px;
}

.feedback-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-section h3 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
  color: #333B41;
  margin-bottom: 47px;
}
.feedback-section .feedback-track-container {
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 21px;
  margin-bottom: 31px;
  scrollbar-width: thin;
  scrollbar-color: #FE9013 #F5F7F6;
}
.feedback-section .feedback-track-container .feedback-track {
  width: 100%;
  display: flex;
  gap: 30px;
}
.feedback-section .feedback-track-container .feedback-track article {
  flex: 0 0 19.5%;
  height: 391px;
  padding: 15px 15px 19px;
  background-color: #F1F3F2;
  border: 2px solid;
  border-color: rgb(254, 189, 171);
  border-radius: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: 37px 1fr;
}
.feedback-section .feedback-track-container .feedback-track article .user-data h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #000000;
  line-height: 120%;
}
.feedback-section .feedback-track-container .feedback-track article .user-data .location-time {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
  color: #BDBDBD;
}
.feedback-section .feedback-track-container .feedback-track article .feedback-text {
  grid-column: span 2;
  overflow: hidden;
}
.feedback-section .feedback-track-container::-webkit-scrollbar {
  width: 50%;
  height: 8px;
}
.feedback-section .feedback-track-container::-webkit-scrollbar-track {
  background: #F5F7F6;
  border: 1px solid rgb(254, 189, 171);
  border-radius: 5px;
}
.feedback-section .feedback-track-container::-webkit-scrollbar-thumb {
  background: #FE9013;
  border-radius: 5px;
}
.feedback-section .feedback-track-container::-webkit-scrollbar:hover {
  cursor: pointer;
}
.feedback-section .leave-feedback {
  align-self: flex-start;
  border-radius: 5px;
}
.feedback-section::after {
  content: url("../../assets/images/main/feedback/leaf_foto.png");
  position: absolute;
  bottom: -340px;
  right: -210px;
}

.footer-wrapper {
  padding-top: 41px;
  padding-bottom: 50px;
  background-color: #000000;
}
.footer-wrapper .page-footer {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #000000;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  gap: 30px;
}
.footer-wrapper .page-footer .donate-for-volunteers {
  border-radius: 5px;
  grid-row: 2;
}
.footer-wrapper .page-footer .socials {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-wrapper .page-footer .socials .social-link {
  display: flex;
  align-items: center;
  gap: 1em;
}
.footer-wrapper .page-footer .socials .social-link::before {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgba(196, 196, 196, 0.5);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-wrapper .page-footer .socials .social-link:hover {
  color: #FE9013;
}
.footer-wrapper .page-footer .socials .social-link:hover::before {
  background-color: #FE9013;
}
.footer-wrapper .page-footer .socials .facebook::before {
  background-image: url("../../assets/images/footer/socials/facebook.svg");
}
.footer-wrapper .page-footer .socials .twitter::before {
  background-image: url("../../assets/images/footer/socials/twitter.svg");
}
.footer-wrapper .page-footer .socials .instagram::before {
  background-image: url("../../assets/images/footer/socials/instagram.svg");
}
.footer-wrapper .page-footer .socials .youtube::before {
  background-image: url("../../assets/images/footer/socials/youtube.svg");
}
.footer-wrapper .page-footer .footer-nav {
  grid-column: 2;
  grid-row: 3;
  align-self: end;
}
.footer-wrapper .page-footer .subscription {
  grid-column: 3/span 2;
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #000000;
  color: white;
  display: grid;
  grid-template-columns: 62% 1fr;
  grid-template-rows: 40px 40px;
  row-gap: 5px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer-wrapper .page-footer .subscription label {
  grid-column: span 2;
}
.footer-wrapper .page-footer .subscription input {
  padding: 10px;
  background-color: #000000;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(249, 128, 75, 0.5019607843);
  color: white;
}
.footer-wrapper .page-footer .subscription input ::-moz-placeholder {
  color: #BDBDBD;
}
.footer-wrapper .page-footer .subscription input :-ms-input-placeholder {
  color: #BDBDBD;
}
.footer-wrapper .page-footer .subscription input ::placeholder {
  color: #BDBDBD;
}
.footer-wrapper .page-footer .subscription input:focus {
  outline: none;
  border-color: #4B9200;
}
.footer-wrapper .page-footer .subscription input:invalid {
  outline: none;
  border-color: #D31414;
}
.footer-wrapper .page-footer .subscription .btn-submit {
  text-transform: capitalize;
  background: #F1F3F2;
  border: 1px solid #F9804B;
  border-radius: 5px;
}
.footer-wrapper .page-footer .subscription .btn-submit:hover {
  cursor: pointer;
}
.footer-wrapper .page-footer .subscription .btn-submit:active {
  color: #4B9200;
  border-color: #4B9200;
}
.footer-wrapper .page-footer .site-designer {
  align-self: end;
  justify-self: end;
  grid-column: 4;
  grid-row: 3;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 1600px) {
  .about .content .about-text {
    position: static;
  }
  .about .content .about-text::after {
    top: 12px;
    right: 0;
  }
  .gallery-content-wrapper {
    position: static;
  }
  .gallery-content-wrapper::before {
    left: 0;
  }
  .gallery-content-wrapper::after {
    right: 0;
  }
  .pick-and-feed-text {
    padding-left: 100px;
    padding-right: 20px;
  }
  .feedback-section {
    position: static;
  }
  .feedback-section::after {
    bottom: -136px;
    right: 0;
  }
}
@media screen and (max-width: 1000px) {
  .content-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  header .nav-list > li {
    margin-right: 10px;
  }
  .hero {
    padding-top: 122px;
    padding-bottom: 47px;
  }
  .hero .text-wrapper {
    max-width: 400px;
  }
  .hero .text-wrapper p {
    font-size: 85px;
  }
  .about {
    padding-top: 100px;
    padding-bottom: 142px;
  }
  .about-text::after {
    display: none;
  }
  .gallery-content-wrapper {
    padding-bottom: 140px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .gallery-content-wrapper::before {
    content: url("../../assets/images/main/gallery/decorative/palm_foto_small_PC.png");
    left: -31px;
    bottom: -4px;
  }
  .gallery-content-wrapper::after {
    content: url("../../assets/images/main/gallery/decorative/strelitzia_1_small_PC.png");
    right: -31px;
    bottom: -4px;
  }
  .gallery {
    position: relative;
  }
  .gallery .gallery-btn {
    position: absolute;
  }
  .gallery .prev {
    right: 52.83%;
  }
  .gallery .next {
    left: 52.83%;
  }
  .gallery .cards-collection-container .animal-cards {
    row-gap: 92px;
  }
  .gallery .cards-collection-container .animal-cards .card .card-text {
    padding-right: 10%;
  }
  .pick-and-feed-wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .pick-and-feed-content-wrapper {
    padding-left: 47px;
    padding-right: 47px;
  }
  .feedback-wrapper {
    padding-top: 100px;
    padding-bottom: 140px;
  }
  .feedback-section h3 {
    margin-bottom: 30px;
  }
  .feedback-section .feedback-track-container .feedback-track article {
    flex-basis: 27.4%;
  }
  .footer-wrapper .page-footer {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .footer-wrapper .page-footer .footer-nav {
    grid-column: 2/span 2;
    margin-right: 18%;
  }
}
@media screen and (max-width: 640px) {
  .content-wrapper {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-wrapper {
    padding: 0;
    min-height: 0;
  }
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .small-screen-header {
    display: block;
  }
  header .logo {
    border: none;
    width: 46px;
    height: 34px;
  }
  header .logo .logo-bamboo {
    width: 9px;
    right: 34px;
    bottom: 3px;
  }
  header .logo .logo-text {
    font-size: 12px;
    line-height: 1.16;
  }
  .menu-wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(13, 12, 13, 0.742);
  }
  .menu-wrapper.active {
    left: 0;
  }
  .large-screen-header {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(100%);
    width: 100%;
    padding: 10px 0 40px 10px;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    background-color: white;
    color: #333B41;
    transition: 0.3s;
  }
  .large-screen-header .logo {
    color: inherit;
    border: 1px solid #333B41;
    margin-bottom: 15px;
  }
  .large-screen-header .logo .logo-bamboo-color {
    fill: #333B41;
  }
  .large-screen-header .logo:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    border-color: #F9804B;
  }
  .large-screen-header .logo:hover .logo-bamboo-color {
    fill: #F9804B;
  }
  .large-screen-header .nav-list {
    flex-direction: column;
    gap: 15px;
  }
  .large-screen-header .nav-list .current-page {
    color: transparent;
  }
  .large-screen-header .nav-list a {
    color: inherit;
  }
  .large-screen-header .nav-list a:not(.current-page):hover {
    color: #F9804B;
  }
  .large-screen-header .copyright {
    margin: 0;
  }
  .large-screen-header .copyright a {
    color: inherit;
  }
  .large-screen-header.active {
    transform: translate(0);
  }
  .burger {
    display: block;
  }
  .hero-wrapper {
    background-image: url("../../assets/images/main/hero/Giant_Panda_tablet.png");
  }
  .hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .hero .text-wrapper {
    max-width: 600px;
    height: 250px;
    margin: 0;
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero .text-wrapper p {
    align-self: flex-start;
    max-width: 255px;
    font-size: 54px;
  }
  .hero .text-wrapper .main-btn {
    align-self: flex-end;
    order: -1;
  }
  .about {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .image-container-bamboo-hat {
    display: none;
  }
  .about-text {
    margin: 0;
    max-width: 495px;
    gap: 20px;
  }
  .about-text .subtitle {
    margin-top: 10px;
  }
  .about-text::after {
    content: url("../../assets/images/main/about/flower_foto1_tablet.jpg");
    display: block;
    top: -60px;
    right: -127px;
  }
  .gallery-content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    gap: 60px;
  }
  .gallery-content-wrapper::before {
    left: -62px;
    z-index: -1;
  }
  .gallery-content-wrapper::after {
    content: url("../../assets/images/main/gallery/decorative/strelitzia_1_tablet.png");
    z-index: -1;
  }
  .animal-cards {
    grid-template-columns: auto auto;
  }
  .animal-cards .card:nth-child(n+5) {
    display: none;
  }
  .pick-and-feed-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pick-and-feed-wrapper .content-wrapper {
    padding: 0;
    max-width: 100%;
  }
  .pick-and-feed-content-wrapper {
    padding: 10px 20px 60px;
  }
  .pick-and-feed-content-wrapper .pick-and-feed-text {
    padding-left: 0;
    gap: 10px;
  }
  .pick-and-feed-content-wrapper .pick-and-feed-text .subtitle + p {
    margin: 0;
  }
  .workflow {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .workflow h3 {
    margin-bottom: 20px;
  }
  .pay-to-feed-process {
    margin-bottom: 0;
  }
  .pay-to-feed-process-figures::before, .pay-to-feed-process-figures::after {
    display: none;
  }
  .pay-to-feed-process-figures li {
    position: relative;
  }
  .pay-to-feed-process-figures li:not(:last-child)::before {
    position: absolute;
    left: 80%;
    top: -11%;
    content: "";
    background-image: url("../../assets/images/main/pay-to-feed/arrow_tablet.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 57%;
    padding-top: 19.6%;
    z-index: 1;
  }
  .feedback-wrapper {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .feedback-section::after {
    content: url("../../assets/images/main/feedback/leav_foto_tablet.png");
    right: 0;
    bottom: -152px;
    z-index: -1;
  }
  .feedback-section .feedback-track-container {
    overflow: hidden;
  }
  .feedback-section .feedback-track-container .feedback-track {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .feedback-section .feedback-track-container .feedback-track article {
    flex-basis: 5em;
    overflow: hidden;
  }
  .feedback-section .feedback-track-container .feedback-track article:nth-child(n+4) {
    display: none;
  }
  .feedback-section .leave-feedback {
    align-self: center;
  }
  .footer-wrapper {
    padding: 12px 0;
  }
  .footer-wrapper .page-footer {
    display: grid;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
  }
  .footer-wrapper .page-footer .footer-nav {
    grid-column: 1;
    margin: 0;
  }
  .footer-wrapper .page-footer .socials {
    grid-row: span 2;
    gap: 20px;
    align-items: flex-end;
  }
  .footer-wrapper .page-footer .socials a > span {
    display: none;
  }
  .footer-wrapper .page-footer .subscription {
    display: none;
  }
  .footer-wrapper .page-footer .site-designer {
    grid-column: unset;
    grid-row: unset;
  }
}
@media screen and (max-width: 560px) {
  .footer-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-wrapper .page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-wrapper .page-footer .logo {
    order: -1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: unset;
  }
  .footer-wrapper .page-footer .logo .logo-bamboo {
    right: 43px;
    bottom: 4px;
  }
  .footer-wrapper .page-footer .socials {
    order: -1;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: center;
  }
  .footer-wrapper .page-footer .footer-nav {
    order: 1;
    align-self: unset;
    width: 100%;
    justify-content: space-evenly;
  }
  .footer-wrapper .page-footer .site-designer p {
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 320px) {
  .content-wrapper {
    max-width: 300px;
    padding: 0 10px;
  }
  .main-btn {
    max-width: 298px;
    width: 93.125%;
  }
  .header-wrapper {
    position: static;
  }
  .hero-wrapper {
    position: relative;
    background-image: url("../../assets/images/main/hero/Giant_Panda_phone.png");
  }
  .hero {
    padding-top: 41px;
    padding-bottom: 43px;
  }
  .hero .text-wrapper {
    width: 128px;
    margin-left: auto;
    height: unset;
  }
  .hero .text-wrapper p {
    font-size: 28px;
  }
  .hero .text-wrapper .main-btn {
    position: absolute;
    bottom: -74px;
    left: 4%;
  }
  .about {
    padding-top: 104px;
    padding-bottom: 20px;
  }
  .about-text h2 {
    font-size: 24px;
  }
  .about-text::after {
    content: url("../../assets/images/main/about/flower_foto1_phone.png");
    top: -63px;
    right: -10px;
  }
  .gallery-content-wrapper {
    padding: 0 10px 60px;
    gap: 12px;
  }
  .gallery-content-wrapper::before {
    content: url("../../assets/images/main/gallery/decorative/palm_foto_phone.png");
    left: 0px;
  }
  .gallery-content-wrapper::after {
    content: url("../../assets/images/main/gallery/decorative/strelitzia_1_phone.png");
    right: 0px;
  }
  .gallery .cards-collection-container .animal-cards {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .gallery .gallery-btn {
    display: none;
  }
  .pick-and-feed-wrapper .content-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pick-and-feed-content-wrapper {
    padding: 20px 0 40px;
  }
  .pick-and-feed-content-wrapper > h2 {
    font-size: 24px;
  }
  .pick-and-feed-text p.subtitle {
    font-size: 18px;
    text-align: center;
    margin: 0;
  }
  .pick-and-feed-text p:not(.subtitle) {
    display: none;
  }
  .workflow {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .workflow h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .pay-to-feed-process-figures {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .pay-to-feed-process-figures li {
    max-width: 168px;
    width: 100%;
    position: relative;
    margin-bottom: calc(10px + 2em);
  }
  .pay-to-feed-process-figures li p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: #000000;
    display: block;
    position: absolute;
    top: calc(100% + 10px);
  }
  .pay-to-feed-process-figures li:not(:last-child)::before {
    transform: rotate(82deg) scale(0.8);
    left: unset;
    top: unset;
    right: -35%;
    bottom: -28%;
  }
  .pay-to-feed-process-legend {
    display: none;
  }
  .feedback-wrapper {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .feedback-section::after {
    content: url(../../assets/images/main/feedback/leav_foto_phone.png);
    bottom: -93px;
  }
  .feedback-section .feedback-track-container {
    padding-bottom: 0;
  }
  .feedback-section .leave-feedback {
    align-self: center;
    max-width: 240px;
  }
}/*# sourceMappingURL=styles.css.map */