@import '../../assets/fonts/fonts.scss';
@import '../../assets/styles/logo.scss';
@import '../../assets/styles/variables.scss';

//========================GENERAL===================

.content-wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-btn {
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    cursor: pointer;
    @include bodyBtnFont;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
        background: #E47209;
    }
}

.logo {
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    position: relative;
    align-items: center;

    @include logoPetStoryOnline;

    .logo-bamboo {
        position: absolute;
        right: 58px;
        bottom: 8px;

        &-color {
            fill: white;
        }
    }

    &:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        background-clip: text;
        color: transparent;
        border-color: #F9804B;

        .logo-bamboo-color {
            fill: #F9804B;
        }
    }
}

.nav-list {
    display: flex;
    min-width: 40%;
    justify-content: space-between;

    .current-page {
        @include bodyBtnFont;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        color: transparent;
        background-clip: text;

        cursor: default;
    }

    a {
        font-weight: normal;
        @include bodyBtnFont;
        color: #FFFFFF;
    }

    a:not(.current-page):hover {
        color: #F9804B;
    }
}

.burger {
    display: none;
    position: relative;
    flex: 0 0 18px;
    height: 10px;
    z-index: 2;
    background-color: transparent;

    span {
        position: absolute;
        display: block;
        width: 18px;
        height: 2px;
        background-color: white;
        transition: transform 0.3s;

    }

    span:first-child {
        top: 4px;
    }

    span:last-child {
        bottom: 0;
    }

    &.active {

        & span {
            background-color: #333B41;
            top: 50%;
        }

        & span:first-child {
            transform: rotate(45deg);
        }

        & span:last-child {
            transform: rotate(-45deg);
        }

        & span:nth-of-type(2) {
            display: none;
        }
    }
}

//========================HEADER===================

.header-wrapper {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    min-height: $main-header-height;
    padding: 14px 0;
    background-color: #000000;
    z-index: 2;
}

.main-title {
    display: none;
}

.large-screen-header {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        margin-right: 63px;
    }

    nav {
        min-width: 40%;
    }

    .copyright {
        margin-left: auto;

        a {
            @include bodyBtnFont;
            color: #FFFFFF;

            &:hover {
                background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                color: transparent;
                background-clip: text;
            }
        }
    }
}

.small-screen-header {
    display: none;
}

//========================HERO===================

.hero-wrapper {
    background-image: url('../../assets/images/main/hero/Giant\ Panda.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    padding-top: 166px;
    padding-bottom: 100px;

    .text-wrapper {
        box-sizing: border-box;
        max-width: 500px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;

        p {
            position: relative;
            @include h1Font;
            text-align: center;
            z-index: 1;

            span {
                color: #FFEE2E;
            }

            &::after {
                content: "";
                position: absolute;
                width: 93%;
                padding-top: 93%;
                background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                border-radius: 50%;
                left: -14.8%;
                top: -18.8%;
                z-index: -1;
            }
        }
    }
}

//========================ABOUT===================

.about-outer-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.about {
    padding-top: 140px;
    padding-bottom: 180px;

    .content {
        display: flex;
        justify-content: space-between;
    }
}

.image-container-bamboo-hat {
    overflow: hidden;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
}

.about-text {
    margin-left: 30px;
    max-width: 465px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    h2 {
        @include h2Font;
    }

    h2+p {
        line-height: 130%;
    }

    .subtitle {
        @include subtitleFont;
    }

    p {
        @include bodyFont;
    }

    &::after {
        content: url('../../assets/images/main/about/flower_foto1.png');
        position: absolute;
        top: -128px;
        right: -222px;
    }
}

//========================GALLERY===================

.decoration-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery-content-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    max-width: 1322px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    &::before {
        content: url('../../assets/images/main/gallery/decorative/palm_foto.png');
        position: absolute;
        left: -141px;
        bottom: -4px;
    }

    &::after {
        content: url('../../assets/images/main/gallery/decorative/strelitzia\ 1.png');
        position: absolute;
        right: -139px;
        bottom: -4px;
    }
}

.gallery {
    display: flex;
    gap: 20px;
    align-items: center;

    .gallery-btn {
        flex-shrink: 0;
        width: 62px;
        height: 62px;
        border-color: transparent;
        background-clip: content-box;
        border-radius: 50%;
        background-image: url('../../assets/images/main/gallery/decorative/arrow_left.svg'),
            linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            background-image: url('../../assets/images/main/gallery/decorative/arrow_left.svg');
            background-color: #E47209;
        }
    }

    .next {
        transform: rotate(180deg);
    }
}

.animal-cards {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    margin: 0;
    padding: 0;

    .card {
        flex: 0 1 366px;
        border: 1px solid #FA6F32;
        border-radius: 5px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.3s;

        img {
            width: 100%;
            transition: transform 0.3s;
        }

        &:hover {
            background-color: rgba(13, 12, 13, 0.742);

            .card-text {
                color: white;
                transform: translateY(-100%);
            }

            img {
                transform: scale(calc(376/366));
                z-index: -1;
            }
        }

        .card-text {
            padding: 8px 33px 14px 16px;
            transition: all 0.3s;

            p:first-of-type {
                @include bodyBtnFont;
                text-transform: uppercase;
            }

            p+p {
                @include smallParagraphFont;
            }
        }

        .diet-pic {
            box-sizing: border-box;
            position: absolute;
            right: 12px;
            bottom: 12px;
            width: 9%;
            height: 8.6%;
            background-repeat: no-repeat;
            background-size: contain, contain;
            z-index: -1;
        }

        .vegy {
            background-image: url('../../assets/images/main/gallery/decorative/diet-pics/banana.svg'),
                url('../../assets/images/main/gallery/decorative/diet-pics/bamboo.svg');

            background-position: bottom 2px left 0, bottom 0 left 3px;
        }

        .meat-eater {
            background-image: url('../../assets/images/main/gallery/decorative/diet-pics/fish.svg'),
                url('../../assets/images/main/gallery/decorative/diet-pics/steak_icon.svg');
            width: 11.2%;
            height: 10.3%;
            background-position: bottom 2px right -3px, bottom 0 left -2px;
        }
    }
}

.choose-favorite {
    align-self: center;
}

//========================PICK-AND-FEED===================

.pick-and-feed-wrapper {
    background: $orange-gradient;
    opacity: 0.9;
    padding-top: 70px;
    padding-bottom: 100px;
}

.pick-and-feed-content-wrapper {
    padding-top: 41px;
    padding-bottom: 59px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    .pick-and-feed-content {
        width: 100%;
    }
}

.pick-and-feed-content-wrapper>h2 {
    padding-bottom: 30px;
    text-align: center;
    @include h2Font;
    color: #FE9013;
}

.pick-and-feed-text {
    padding-left: 8.6%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &>p {
        @include bodyFont;
        line-height: 130%;

        color: #333B41;
    }

    p.subtitle {
        @include subtitleFont;
        margin-bottom: 10px;
    }

    .subtitle+p {
        font-weight: 500;
        margin-bottom: -20px;
    }

    .donate-ref {
        border-bottom: 1px solid #FE9013;
    }
}

.workflow {
    margin-top: 100px;

    h3 {
        width: fit-content;
        @include h3Font;
        margin: 0 auto 40px;
    }
}

.pay-to-feed-process {
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 764px;

    &-figures {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & li {
            flex: 0 1 168px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid $orange;

            & :first-child {
                padding-top: 100%;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }

            &:first-of-type {
                order: -1;
            }

            &:last-of-type {
                order: 1;
            }

            & p {
                display: none;
            }
        }

        .stage1-img {
            width: 64%;
            background-image: url('../../assets/images/main/pay-to-feed/pay-card.svg');
        }

        .stage2-img {
            width: 50%;
            background-image: url('../../assets/images/main/pay-to-feed/money-to-grow.svg');
        }

        .stage3-img {
            width: 73%;
            background-image: url('../../assets/images/main/pay-to-feed/feed-pet.svg');
        }

        &::before,
        &::after {
            flex: 0 1 71px;
            content: '';
            width: 69px;
            height: 35px;
            background-image: url('../../assets/images/main/pay-to-feed/arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &-legend {
        display: flex;
        justify-content: space-between;

        & li {
            margin-top: 30px;
            flex: 0 1 168px;
        }
    }
}

.feed-a-friend {
    margin: 0 auto;
}

//========================FEEDBACK===================

.feedback-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 140px;
    padding-bottom: 204px;
}

.feedback-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        @include h3Font;
        margin-bottom: 47px;
    }

    .feedback-track-container {
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 21px;
        margin-bottom: 31px;

        .feedback-track {
            width: 100%;
            display: flex;
            gap: 30px;

            article {
                flex: 0 0 19.5%;
                height: 391px;
                padding: 15px 15px 19px;
                background-color: #F1F3F2;
                border: 2px solid;
                border-color: rgb(254, 189, 171);
                border-radius: 20px;
                display: grid;
                gap: 10px;
                grid-template-columns: 37px 1fr;

                .user-data {
                    h1 {
                        @include bodyFont;
                        line-height: 120%;
                    }

                    .location-time {
                        @include smallParagraphFont;
                        color: #BDBDBD;
                    }
                }

                .feedback-text {
                    grid-column: span 2;
                    overflow: hidden;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 50%;
            height: 8px;

            &-track {
                background: #F5F7F6;
                border: 1px solid rgb(254, 189, 171);
                border-radius: 5px;
            }

            &-thumb {
                background: #FE9013;
                border-radius: 5px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        //полоса прокрутки в firefox

        scrollbar-width: thin;
        scrollbar-color: #FE9013 #F5F7F6;
    }

    .leave-feedback {
        align-self: flex-start;
        border-radius: 5px;
    }

    &::after {
        content: url('../../assets/images/main/feedback/leaf_foto.png');
        position: absolute;
        bottom: -340px;
        right: -210px;
    }
}

//========================FOOTER===================

.footer-wrapper {
    padding-top: 41px;
    padding-bottom: 50px;
    background-color: #000000;

    .page-footer {
        @include bodyFont;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
        gap: 30px;

        .donate-for-volunteers {
            border-radius: 5px;
            grid-row: 2;
        }

        .socials {
            grid-row: 3;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .social-link {
                display: flex;
                align-items: center;
                gap: 1em;

                &::before {
                    content: '';
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    border-color: transparent;
                    background-color: rgba(196, 196, 196, 0.5);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &:hover {
                    color: $orange;

                    &::before {
                        background-color: $orange;
                    }
                }
            }

            .facebook::before {
                background-image: url('../../assets/images/footer/socials/facebook.svg');
            }

            .twitter::before {
                background-image: url('../../assets/images/footer/socials/twitter.svg');
            }

            .instagram::before {
                background-image: url('../../assets/images/footer/socials/instagram.svg');
            }

            .youtube::before {
                background-image: url('../../assets/images/footer/socials/youtube.svg');
            }
        }

        .footer-nav {
            grid-column: 2;
            grid-row: 3;
            align-self: end;
        }

        .subscription {
            grid-column: 3/span 2;
            @include subtitleFont;
            color: white;
            display: grid;
            grid-template-columns: 62% 1fr;
            grid-template-rows: 40px 40px;
            row-gap: 5px;
            column-gap: 10px;

            label {
                grid-column: span 2;
            }

            input {
                padding: 10px;
                background-color: #000000;
                border-width: 1px;
                border-radius: 2px;
                border-style: solid;
                border-color: #F9804B80;
                color: white;

                ::placeholder {
                    color: #BDBDBD;
                }

                &:focus {
                    outline: none;
                    border-color: $activeColor;
                }

                &:invalid {
                    outline: none;
                    border-color: $mistakeColor;
                }
            }

            .btn-submit {
                text-transform: capitalize;
                background: #F1F3F2;

                border: 1px solid #F9804B;
                border-radius: 5px;

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    color: $activeColor;
                    border-color: $activeColor;
                }
            }
        }

        .site-designer {
            align-self: end;
            justify-self: end;
            grid-column: 4;
            grid-row: 3;
            width: max-content;

            font-weight: 100;
            color: rgba(255, 255, 255, 0.4);
        }
    }
}

@media only screen and (min-width: 1600px) {
    .about .content .about-text {
        position: static;

        &::after {
            top: 12px;
            right: 0;
        }
    }

    .gallery-content-wrapper {
        position: static;

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    .pick-and-feed-text {
        padding-left: 100px;
        padding-right: 20px;
    }

    .feedback-section {
        position: static;

        &::after {
            bottom: -136px;
            right: 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    .content-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    //=======================HEADER=====================

    header .nav-list > li{
        margin-right: 10px;
    }

    //========================HERO======================    

    .hero {
        padding-top: 122px;
        padding-bottom: 47px;

        .text-wrapper {
            max-width: 400px;

            p {
                font-size: 85px;
            }
        }
    }

    //========================ABOUT======================    

    .about {
        padding-top: 100px;
        padding-bottom: 142px;
    }

    .about-text::after {
        display: none;
    }

    //========================GALLERY======================    

    .gallery-content-wrapper {
        padding-bottom: 140px;
        padding-left: 30px;
        padding-right: 30px;

        &::before {
            content: url('../../assets/images/main/gallery/decorative/palm_foto_small_PC.png');
            left: -31px;
            bottom: -4px;
        }

        &::after {
            content: url('../../assets/images/main/gallery/decorative/strelitzia_1_small_PC.png');
            right: -31px;
            bottom: -4px;
        }
    }

    .gallery {
        position: relative;

        .gallery-btn {
            position: absolute;

            &:hover {
                background-image: url('../../assets/images/main/gallery/decorative/arrow_left.svg');
                background-color: #E47209;
            }
        }

        .prev {
            right: 52.83%;
        }

        .next {
            left: 52.83%;
        }

        .cards-collection-container {

            .animal-cards {
                row-gap: 92px;

                .card {
                    flex-basis: 294px;

                    .card-text {
                        padding-right: 10%;
                    }
                }
            }
        }
    }

    //===================PICK-AND-FEED==================

    .pick-and-feed-wrapper {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .pick-and-feed-content-wrapper {
        padding-left: 47px;
        padding-right: 47px;
    }

    //=====================FEEDBACK=====================

    .feedback-wrapper {
        padding-top: 100px;
        padding-bottom: 140px;
    }

    .feedback-section {

        h3 {
            margin-bottom: 30px;
        }

        .feedback-track-container .feedback-track article {
            flex-basis: 27.4%;
        }
    }

    //======================FOOTER=====================

    .footer-wrapper .page-footer {
        column-gap: 0;

        .footer-nav {
            grid-column: 2/span 2;
            margin-right: 18%;
        }
    }
}

@media screen and (max-width: 640px) {
    .content-wrapper {
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;
    }

    //===================================HEADER===========================

    .header-wrapper {
        padding: 0;
        min-height: 0;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .small-screen-header {
        display: block;
    }

    header .logo {
        border: none;
        width: 46px;
        height: 34px;

        .logo-bamboo {
            width: 9px;
            right: 34px;
            bottom: 3px;
        }

        .logo-text {
            font-size: 12px;
            line-height: 1.16;
        }
    }

    .large-screen-header {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(100%);
        width: 100%;
        padding: 10px 0 40px 10px;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        background-color: white;
        color: #333B41;
        transition: 0.3s;

        .logo {
            color: inherit;
            border: 1px solid #333B41;
            margin-bottom: 15px;

            .logo-bamboo-color {
                fill: #333B41;
            }

            &:hover {
                background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                background-clip: text;
                color: transparent;
                border-color: #F9804B;

                .logo-bamboo-color {
                    fill: #F9804B;
                }
            }
        }

        .nav-list {
            flex-direction: column;
            gap: 15px;

            .current-page {
                color: transparent;
            }

            a {
                color: inherit;
            }

            a:not(.current-page):hover {
                color: #F9804B;
            }
        }

        .copyright {
            margin: 0;

            a {
                color: inherit;
            }
        }

        &.active {
            transform: translate(0);
        }
    }

    .burger {
        display: block;
    }

    //================================HERO=================================

    .hero-wrapper {
        background-image: url('../../assets/images/main/hero/Giant_Panda_tablet.png');
    }

    .hero {
        padding-top: 80px;
        padding-bottom: 40px;

        .text-wrapper {
            max-width: 600px;
            height: 250px;
            margin: 0;
            gap: 0;
            flex-direction: row;
            justify-content: space-between;

            p {
                align-self: flex-start;
                max-width: 255px;
                font-size: 54px;
            }

            .main-btn {
                align-self: flex-end;
                order: -1;
            }
        }
    }

    //==============================ABOUT==================================

    .about {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .image-container-bamboo-hat {
        display: none;
    }

    .about-text {
        margin: 0;
        max-width: 495px;
        gap: 20px;

        .subtitle {
            margin-top: 10px;
        }

        &::after {
            content: url('../../assets/images/main/about/flower_foto1_tablet.jpg');
            display: block;
            top: -60px;
            right: -127px;
        }
    }

    //=============================GALLERY=================================

    .gallery-content-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 100px;
        gap: 60px;

        &::before {
            left: -62px;
            z-index: -1;
        }

        &::after {
            content: url('../../assets/images/main/gallery/decorative/strelitzia_1_tablet.png');
            z-index: -1;
        }
    }

    .animal-cards {
        grid-template-columns: 1fr 1fr;

        .card:nth-child(n + 5) {
            display: none;
        }
    }

    //==========================PICK-AND-FEED============================

    .pick-and-feed-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;

        .content-wrapper {
            padding: 0;
            max-width: 100%;
        }
    }

    .pick-and-feed-content-wrapper {
        padding: 10px 20px 60px;

        .pick-and-feed-text {
            padding-left: 0;
            gap: 10px;

            .subtitle+p {
                margin: 0;
            }
        }
    }

    .workflow {
        margin-top: 30px;
        margin-bottom: 40px;

        h3 {
            margin-bottom: 20px;
        }
    }

    .pay-to-feed-process {
        margin-bottom: 0;

        &-figures {

            &::before,
            &::after {
                display: none;
            }

            li {
                position: relative;
            }

            li:not(:last-child)::before {
                position: absolute;
                left: 80%;
                top: -11%;
                content: '';
                background-image: url('../../assets/images/main/pay-to-feed/arrow_tablet.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 57%;
                padding-top: 19.6%;
                z-index: 1;
            }
        }
    }

    //=========================FEEDBACK======================

    .feedback-wrapper {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .feedback-section {

        &::after {
            content: url('../../assets/images/main/feedback/leav_foto_tablet.png');
            right: 0;
            bottom: -152px;
            z-index: -1;
        }

        .feedback-track-container {
            overflow: hidden;

            .feedback-track {
                display: flex;
                flex-direction: column;
                gap: 15px;

                article {
                    flex-basis: 5em;
                    overflow: hidden;
                }

                & article:nth-child(n + 4) {
                    display: none;
                }
            }
        }

        .leave-feedback {
            align-self: center;
        }
    }

    //=========================FOOTER=====================

    .footer-wrapper {
        padding: 12px 0;

        .page-footer {
            display: grid;
            grid-template-columns: min-content auto;

            .footer-nav {
                grid-column: 1;
                margin: 0;
            }

            .socials {
                grid-row: span 2;
                gap: 20px;
                align-items: flex-end;

                a>span {
                    display: none;
                }
            }

            .subscription {
                display: none;
            }

            .site-designer {
                grid-column: unset;
                grid-row: unset;
            }
        }
    }
}

@media screen and (max-width: 560px) {

    //===========================FOOTER===================

    .footer-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;

        .page-footer {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo {
                order: -1;
                width: fit-content;
                height: fit-content;
                border: unset;

                .logo-bamboo {
                    right: 43px;
                    bottom: 4px;
                }
            }

            .socials {
                order: -1;
                flex-direction: row;
                width: 100%;
                gap: 30px;
                justify-content: center;
            }

            .footer-nav {
                order: 1;
                align-self: unset;
                width: 100%;
                justify-content: space-evenly;
            }

            .site-designer {
                p {
                    margin-bottom: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .content-wrapper {
        max-width: 300px;
        padding: 0 10px;
    }

    .main-btn {
        max-width: 298px;
        width: 93.125%;
    }

    //=========================HEADER========================

    .header-wrapper {
        position: static;
    }

    //=========================HERO========================

    .hero-wrapper {
        position: relative;
        background-image: url('../../assets/images/main/hero/Giant_Panda_phone.png');
    }

    .hero {
        padding-top: 41px;
        padding-bottom: 43px;

        .text-wrapper {
            width: 128px;
            margin-left: auto;
            height: unset;

            p {
                font-size: 28px;
            }

            .main-btn {
                position: absolute;
                bottom: -74px;
                left: 4%;
            }
        }
    }

    //============================ABOUT=====================

    .about {
        padding-top: 104px;
        padding-bottom: 20px;
    }

    .about-text {

        h2 {
            font-size: 24px;
        }

        &::after {
            content: url('../../assets/images/main/about/flower_foto1_phone.png');
            top: -63px;
            right: -10px;
        }
    }

    //============================GALLERY====================

    .gallery-content-wrapper {
        padding: 0 10px 60px;
        gap: 12px;

        &::before {
            content: url('../../assets/images/main/gallery/decorative/palm_foto_phone.png');
            left: 0px;
        }

        &::after {
            content: url('../../assets/images/main/gallery/decorative/strelitzia_1_phone.png');
            right: 0px;
        }
    }

    .gallery .cards-collection-container .animal-cards {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .gallery .gallery-btn {
        display: none;
    }

    //========================PICK-AND-FEED===============

    .pick-and-feed-wrapper .content-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pick-and-feed-content-wrapper {
        padding: 20px 0 40px;

        &>h2 {
            font-size: 24px;
        }
    }

    .pick-and-feed-text p.subtitle {
        font-size: 18px;
        text-align: center;
        margin: 0;
    }

    .pick-and-feed-text p:not(.subtitle) {
        display: none;
    }

    .workflow {
        margin-top: 20px;
        margin-bottom: 30px;

        h3 {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }

    .pay-to-feed-process {

        &-figures {
            flex-direction: column;
            align-items: center;
            gap: 20px;

            li {
                max-width: 168px;
                width: 100%;
                position: relative;
                margin-bottom: calc(10px + 2em);

                p {
                    @include bodyFont;
                    display: block;
                    position: absolute;
                    top: calc(100% + 10px);
                }
            }

            & li:not(:last-child)::before {
                transform: rotate(82deg) scale(0.8);
                left: unset;
                top: unset;
                right: -35%;
                bottom: -28%;
            }
        }

        &-legend {
            display: none;
        }
    }

    //=======================FEEDBACK=====================

    .feedback-wrapper {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .feedback-section::after {
        content: url(../../assets/images/main/feedback/leav_foto_phone.png);
        bottom: -93px;
    }

    .feedback-section {

        & .feedback-track-container {
            padding-bottom: 0;
        }

        .leave-feedback {
            align-self: center;
            max-width: 240px;
        }
    }
}